<h2>Welcome, <%= current_member.email %></h2>
<h3>Find out what we're reading:</h3>
<ul>
    <% @books.each do |book| %>
    <li><a href="/books/<%= book.slug %>"><%= book.title %></a></li>
<% end %>
</ul>
<br><br><br>
<h3>Read something else? Add it <u><a href="/books/new">here!</a></u></h3>