<h2>Have a book you've read? Tell us about it below:</h2>
<form action="/books" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="page_count" placeholder="Page Count">
    <input type="text" name="plot" placeholder="Plot">
    <input type="text" name="genre" placeholder="Genre">
    <input type="submit" value="Submit">
</form>