<h2>Have a book you've read? Tell us about it below:</h2>
<form action="/books" method="POST">
    <input type="text" name="title" placeholder="Title"><br><br>
    <input type="text" name="author" placeholder="Author"><br><br>
    <input type="text" name="page_count" placeholder="Page Count"><br><br>
    <textarea rows="4" cols="50" name="plot" placeholder="Plot"></textarea><br><br>
    <input type="text" name="genre" placeholder="Genre"><br><br>
    <input type="submit" value="Submit">
</form>