<h2>Write Your Review Here!</h2>
<form action="/reviews/<%= @review.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <textarea rows="4" cols="50" name="content" placeholder="What did you think?"><%=@review.content%></textarea><br><br>
    <input type="submit" value="Update">
</form>

