<div class="container-fluid home">
    <div class="col-12">
        <h1>Welcome to the Silver Spring Book Club</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <%= erb :'members/login' %>
        </div>

        <div class="col-6">
            <%= erb :'members/create_member'%>
        </div>
    </div>
</div>