<h2>Sign Up Below!</h2>
<form action="/signup" method="POST">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign Up">
</form>