<h2>Login Below!</h2>
<form action="/login" method="POST">
    <div class="form-group">
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Login"><br><br>
    </div>
</form>
